<!DOCTYPE html>
<html>
<head>
  <title>Schemer</title>
  <%= stylesheet_link_tag    "schemer/application", media: "all" %>
  <%= javascript_include_tag "schemer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
